<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>-<%= html_title %></title>
    <meta name="description" content="fedmob">
    <meta name="keywords" content="fedmob,projects">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>" />
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5NKD8GL');</script>
    <!-- End Google Tag Manager -->
    <!-- Main Snippet -->

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <script>
!function(e,t,n,s,a,p,c){e[s]||((a=e[s]=function(){a.process?a.process.apply(a,arguments):a.queue.push(arguments)}).queue=[],a.t=+new Date,(p=t.createElement(n)).async=1,p.src="https://feedmob-cdn.s3.amazonaws.com/js/fmpixel.dev.js?t="+864e5*Math.ceil(new Date/864e5),(c=t.getElementsByTagName(n)[0]).parentNode.insertBefore(p,c))}(window,document,"script","fmpix"),fmpix("init","{CLIENT_UUID}"),fmpix("event","pageload");
</script>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NKD8GL"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render :partial => "layouts/header" %>
    <%= render partial: "devise/shared/success_messages" %>
    <div class="content-bg">
    <div id="error_messages"></div>
    <div id="spinner" class="hide">
      <%= image_tag("loading.svg") %>
    </div>
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
      <script>!function(s,a,e,v,n,t,z){if(s.saq)return;n=s.saq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!s._saq)s._saq=n;n.push=n;n.loaded=!0;n.version='1.0';n.queue=[];t=a.createElement(e);t.async=!0;t.src=v;z=a.getElementsByTagName(e)[0];z.parentNode.insertBefore(t,z)}(window,document,'script','https://tags.srv.stackadapt.com/events.js');saq('ts', 'VX15kteKRjqN2HEiZPYr3a, MJiuzlS2obOJvL35eiMCcS, uY6CxMAFxguo9sNumePh0H, fQ5tnTamweM0yQ0ao8TF4y, yc8UojGIkgiAhZ8oaPaBn2');</script>

  </body>
</html>
